.ghl-footer {
  box-shadow: none !important;
}

label {
  line-height: 1.6;
  margin-bottom: 15px !important;
}

.ghl-footer {
  height: 100% !important;
}

.ghl-progress-container[data-v-9b3e0fe7] {
  height: 50px !important;
  padding: 0 20px;
  margin: 0 auto !important;
}

.ghl-footer-progress-text[data-v-9b3e0fe7] {
  display: none !important;
}

.ghl-footer-progress-bar[data-v-9b3e0fe7] {
  width: 100% !important;
}

.ghl-footer-buttons[data-v-0693cfda] {
  padding: 0 20px !important;
}

.hl-app .ghl-question-set {
  z-index: 10;
}

@media only screen and (max-width: 767px) {
  #_builder-form {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}