<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + TS</title>
    <link rel="stylesheet" href="/src/style.css">
  </head>
  <body>
    <div id="app">
      <div class="w-full px-[40px] py-[40px] ">
        <!-- Reviews Component -->
        <div class="flex flex-wrap item-start gap-[30px] md:flex-col">

          <div class="w-[calc(33.333%-20px)] md:w-full bg-[#fbfbfb] px-[15px] py-[20px] rounded-[3px] shadow-md shadow-[#cdcdcd]">
            <div class="flex mb-[12px]">
              <figure class="m-0 rounded-[50%] w-[48px] h-[48px] overflow-hidden mr-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e1399fc504fa289feaefa5.webp" alt="">
              </figure>
              <div class="">
                <h4 class="font-archivo text-[20px] text-[#333] font-bold">Merian Cavlov</h4>
                <figure class="m-0 w-[95px]">
                  <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e51f09dcc9fb6ed551e063.png" alt="">
                </figure>
              </div>
            </div>
            <p class="text-[16px] font-archivo leading-[1.6] text-[#333]">My mum had solar Panels and new inverter installed through this company. Fantastic job done. The boys knew exactly what they were doing. Quick, efficient and very courteous. Came on time cleaned up after job done. Would highly recommend them for your Solar needs.</p>
          </div>

          <div class="w-[calc(33.333%-20px)] md:w-full bg-[#fbfbfb] px-[15px] py-[20px] rounded-[3px] shadow-md shadow-[#cdcdcd]">
            <div class="flex mb-[12px]">
              <figure class="m-0 rounded-[50%] w-[48px] h-[48px] overflow-hidden mr-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e1399f471cd5edf953cf53.webp" alt="">
              </figure>
              <div class="">
                <h4 class="font-archivo text-[20px] text-[#333] font-bold">Thomas S.</h4>
                <figure class="m-0 w-[95px]">
                  <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e51f09dcc9fb6ed551e063.png" alt="">
                </figure>
              </div>
            </div>
            <p class="text-[16px] font-archivo leading-[1.6] text-[#333]">The boys came on time and did the job very professionally and explained everything to me at the end. You can just tell when people know what they are doing. Amazing customer service especially Mohit helped me a lot through out the process. I highly recommend this company, very professional and affordable.</p>
          </div>

          <div class="w-[calc(33.333%-20px)] md:w-full bg-[#fbfbfb] px-[15px] py-[20px] rounded-[3px] shadow-md shadow-[#cdcdcd]">
            <div class="flex mb-[12px]">
              <figure class="m-0 rounded-[50%] w-[48px] h-[48px] overflow-hidden mr-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e1399fdcc9fb65c43c1f44.webp" alt="">
              </figure>
              <div class="">
                <h4 class="font-archivo text-[20px] text-[#333] font-bold">Nirmal Deol</h4>
                <figure class="m-0 w-[95px]">
                  <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e51f09dcc9fb6ed551e063.png" alt="">
                </figure>
              </div>
            </div>
            <p class="text-[16px] font-archivo leading-[1.6] text-[#333]">Professional and good work done . Keep you informed about everything. They helped me decide and setup everything after installation. Installers for panels and inverter finished work in a day . There were some confusion about what will happen after installation they setup for meter to be changed with energy provider.</p>
          </div>

          <div class="w-[calc(33.333%-20px)] md:w-full bg-[#fbfbfb] px-[15px] py-[20px] rounded-[3px] shadow-md shadow-[#cdcdcd]">
            <div class="flex mb-[12px]">
              <figure class="m-0 rounded-[50%] w-[48px] h-[48px] overflow-hidden mr-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e1399fdcc9fb34673c1f47.webp" alt="">
              </figure>
              <div class="">
                <h4 class="font-archivo text-[20px] text-[#333] font-bold">Ryan Rahman</h4>
                <figure class="m-0 w-[95px]">
                  <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e51f09dcc9fb6ed551e063.png" alt="">
                </figure>
              </div>
            </div>
            <p class="text-[16px] font-archivo leading-[1.6] text-[#333]">Great service! Highly recommended.
              <br>
              <br>
              Great service. Very communicative and assisting. And very affordable as well. Very easy going, the service provider updated every step of the way. So I think they are the best.</p>
          </div>

          <div class="w-[calc(33.333%-20px)] md:w-full bg-[#fbfbfb] px-[15px] py-[20px] rounded-[3px] shadow-md shadow-[#cdcdcd]">
            <div class="flex mb-[12px]">
              <figure class="m-0 rounded-[50%] w-[48px] h-[48px] overflow-hidden mr-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e1399f9f909d2dcfd55710.webp" alt="">
              </figure>
              <div class="">
                <h4 class="font-archivo text-[20px] text-[#333] font-bold">Terence Brown</h4>
                <figure class="m-0 w-[95px]">
                  <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e51f09dcc9fb6ed551e063.png" alt="">
                </figure>
              </div>
            </div>
            <p class="text-[16px] font-archivo leading-[1.6] text-[#333]">Excellent communication from team members only problem was on installation email said Saturday 9th the tradesmen turned up on Sunday the 10thbthere were very efficient communication was great let me know when turned power off and on.</p>
          </div>

          <div class="w-[calc(33.333%-20px)] md:w-full bg-[#fbfbfb] px-[15px] py-[20px] rounded-[3px] shadow-md shadow-[#cdcdcd]">
            <div class="flex mb-[12px]">
              <figure class="m-0 rounded-[50%] w-[48px] h-[48px] overflow-hidden mr-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e1399f9f909d32cbd55711.webp" alt="">
              </figure>
              <div class="">
                <h4 class="font-archivo text-[20px] text-[#333] font-bold">Nathan</h4>
                <figure class="m-0 w-[95px]">
                  <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e51f09dcc9fb6ed551e063.png" alt="">
                </figure>
              </div>
            </div>
            <p class="text-[16px] font-archivo leading-[1.6] text-[#333]">Quick and easy installation process, no issues whatsoever. Staff were very helpful and gave me their personal contact details to call them if any issues came up. Price was also very affordable and well priced. Can't say I have any complaints and would definitely recommend them.</p>
          </div>

        </div>

        <!-- End Reviews Component -->

        <!-- Slider -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <div class="overflow-hidden w-full swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure class="m-0 px-[10px] py-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e5360edcc9fb39f051f292.jpeg" alt="">
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="m-0 px-[10px] py-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e5360d471cd514f76691bf.jpeg" alt="">
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="m-0 px-[10px] py-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e5360d471cd5b72c6691be.jpeg" alt="">
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="m-0 px-[10px] py-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e5360d471cd52bb76691c1.jpeg" alt="">
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="m-0 px-[10px] py-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e5360dc504fad8e6ff0453.jpeg" alt="">
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="m-0 px-[10px] py-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e5360d756defc416f0e599.jpeg" alt="">
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="m-0 px-[10px] py-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e5360d471cd55f9b6691c0.jpeg" alt="">
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="m-0 px-[10px] py-[10px]">
                <img class="w-full" src="https://storage.googleapis.com/msgsndr/iEFFkjKnODpEv6SzJccs/media/65e5360dc504fa4130ff0454.jpeg" alt="">
              </figure>
            </div>
          </div>
        </div>

        <script>
          const swiper = new Swiper('.swiper', {
          loop: true,
          slidesPerView: 4,
          spaceBetween: 20,
          breakpoints: {
            1024: {
              slidesPerView: 4,
              spaceBetween: 20,
            },
            768: {
              slidesPerView: 4,
              spaceBetween: 20,
            },
            640: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            320: {
              slidesPerView: 2,
              spaceBetween: 20,
            }
          },
          speed: 1000,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
        });

        </script>
        <!-- End Slider -->
      </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
