<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite + TS</title>
  <link rel="stylesheet" href="./src/style.css">
</head>

<body>
  <div id="app shadow-sm">

    <div class="w-full">
      <h2 class="text-center font-inter text-[45px] leading-[1.4] tracking-tight md:text-[28px] font-bold">
        Testimonials
        <img class="align-middle w-[45px] md:w-[33px]"
          src="https://storage.googleapis.com/msgsndr/FrdQ2WsIzcFFalulvjhW/media/65ee69d45ad57b54f3557a3b.png" alt="">
      </h2>
    </div>
  </div>
  <script type="module" src="/src/main.ts"></script>
</body>

</html>